.teeth-card {
    max-height: 35vh;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 10px;
    margin:20px;
  }

ion-item {
  padding-top: 28px;
  --border-color: #eaeaea;
  padding-left: 20px;
}

ion-avatar {
  --border-radius: 5px;
  width: 75px;
  height: 75px;
}