ion-item {
    --background: #fff;
    --color: #000;
    padding-bottom: 5%;
}

ion-button {
    --background: #579FFF;
}

a {
    color: #579FFF;
}

.logo {
    text-align: center;
    padding-top: 15%;
}