ion-grid {
  margin-top: 15%;
}

.details {
  font-size: 14px;
  color:  #c4c4c4;
  text-align: center;
  padding-top: 30px;
}

* {
  font-family: 'Avenir LT Std 55 Roman', 'arial', sans-serif;
}

.restart {
  padding-top: 70px; 
}

.displayTime {
  top: 50%;
  bottom: auto;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  font-size: 50px;
  position: absolute;
  color: #579FFF;
  font-weight: 800;
}

.progress-wrapper {
  position: relative;
  margin: 20px auto;
}