<ion-header text-center no-border>
  <ion-toolbar>
    <ion-title>
      Tooth Timer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="progress-wrapper">
          <div class="displayTime">
            {{timer.displayTime}}
          </div>
          <round-progress class="centered" (click)="toggleTimer()" [current]="timer.secondsRemaining"
            [max]="timer.seconds" [color]="'#579fff'" [background]="'#fafafa'" [radius]="150" [stroke]="35"
            [semicircle]="false" [rounded]="true" [clockwise]="true" [responsive]="false" [duration]="1100"
            [animation]="'easeInOutQuart'" [animationDelay]="0" (onRender)="updateValue($event)">
          </round-progress>

        </div>
        <div class="details">tap the screen to start & pause</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item *ngIf="timeInSeconds && timeInSeconds > 0" lines="none">
          <div class="restart centered">
            <ion-button clear class="large btn-light" (click)="initTimer()" item-start [disabled]="!(!timer.runTimer && (timer.hasStarted || timer.hasFinished) || timer.hasFinished)">
              restart
            </ion-button>
          </div>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>