<ion-header text-center no-border>
  <ion-toolbar>
    <ion-title>
      Tooth Timer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="radial-progress centered" data-progress="0" (click)="toggleTimer()">
          <div class="circle">
            <div class="mask full" [style.transform]="transform">
              <div class="fill" [style.transform]="transform"></div>
            </div>
            <div class="mask half">
              <div class="fill" [style.transform]="transform"></div>
              <div class="fill fix" [style.transform]="fixTransform"></div>
            </div>
            <div class="shadow"></div>
          </div>
          <div class="inset">
            <div class="percentage">
              <div>{{timer.displayTime}}</div>
            </div>
          </div>
        </div>
        <button ion-button *ngIf="!timeInSeconds || timeInSeconds == 0" large block clear class="timer-button">Timer set
          up incorrectly</button>
        <div class="details">tap the screen to start & pause</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item *ngIf="timeInSeconds && timeInSeconds > 0" lines="none">
          <div class="centered">
            <ion-button clear class="large" (click)="initTimer()" item-start
              *ngIf="!timer.runTimer && (timer.hasStarted || timer.hasFinished) || timer.hasFinished">
              <ion-icon name="refresh"></ion-icon>
              Restart
            </ion-button>
          </div>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>