<ion-header>
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      Profile
      <ion-button slot="end" outline fill="clear">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      History
      <ion-button slot="end" fill="clear">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      Products
      <ion-button slot="end" fill="clear">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      Dentists
      <ion-button slot="end" fill="clear">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  <ion-item style="margin-top:80px">
    <div class="row">
      <div class="col text-center">
        <ion-buttons fill="clear" color="primary">
          Logout
        </ion-buttons>
      </div>
    </div>
  </ion-item>
</ion-content>