<ion-header no-border>
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      profile
      <ion-button slot="end" outline fill="clear">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      history
      <ion-button slot="end" fill="clear" [routerLink]="'/history'">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      products
      <ion-button slot="end" fill="clear">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      dentists
      <ion-button slot="end" fill="clear">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
  <ion-item style="margin-top:80px" lines="none" style="padding-left: 0">
    <div class="centered" style="margin-top: 200px">
      <div class="col text-center">
        <ion-button class="btn-light">
          log out
        </ion-button>
      </div>
    </div>
  </ion-item>
</ion-content>