// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.

@font-face {
    font-family: 'Futura Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Futura Medium'), url('../assets/fonts/Futura-Medium.ttf') format('ttf');
}

@font-face {
    font-family: 'Avenir LT Std 55 Roman';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir LT Std 55 Roman'), url('../assets/fonts/AvenirLTStd-Roman.woff') format('woff');
}

* {
  font-family: 'Avenir LT Std 55 Roman';
}

.logo {
    padding-top: 15%;
    margin: auto;
    content: url('../assets/logo.png');
    width: 70%;
    transform: scale(0.65);
}

.title {
    font-family: 'Avenir LT Std 55 Roman';
    font-size: 38pt;
    color: #202020;
    text-align: center;
    font-weight: 600;
}

.subheading {
    font-size: 11pt;
    color: #202020;
    font-family: 'Avenir LT Std 55 Roman';
    text-align: center;
}

.btn-dark {
    --background: #579FFF;
    color: #fff;
    height: 44px;
    width: 210px;
    font-family: 'Avenir LT Std 55 Roman';
    font-size: 14px;
    font-weight: 600;
    box-shadow: 0px 0px 15px #ebebeb;
    border-radius: 8px;
}

.btn-light {
    --background: #fff;
    color: #579FFF;
    height: 44px;
    width: 210px;
    font-family: 'Avenir LT Std 55 Roman';
    font-size: 14px;
    font-weight: 600;
    box-shadow: 0px 0px 15px #ebebeb;
    border-radius: 8px;
}

.button-disabled {
    box-shadow: none;
}

.centered {
    margin-right: auto;
    margin-left: auto;
}

ion-header {
    color: #202020;
    margin-top: 5%;
}

ion-buttons {
  font-size: 24px;
  color: #579FFF;
  padding-left: 20px;
  padding-right: 20px;
}

ion-back-button {
    font-size: 24px;
}